<%
  var pageTitle = 'Search',
      css = ['search'],
      js = ['search','gensearch.2.2.0','gensites.0.1.0'];
      
  var fields = [
    {
      property: 'givenName',
      display: 'Given Name'
    },
    {
      property: 'familyName',
      display: 'Family Name'
    },
    {
      property: 'birthDate',
      display: 'Birth Date',
    },
    {
      property: 'birthPlace',
      display: 'Birth Place',
    },
    {
      property: 'deathDate',
      display: 'Death Date',
    },
    {
      property: 'deathPlace',
      display: 'Death Place',
    },
    {
      property: 'fatherGivenName',
      display: 'Father\'s Given Name'
    },
    {
      property: 'fatherFamilyName',
      display: 'Father\'s Family Name'
    },
    {
      property: 'motherGivenName',
      display: 'Mother\'s Given Name'
    },
    {
      property: 'motherFamilyName',
      display: 'Mother\'s Family Name'
    },
    {
      property: 'spouseGivenName',
      display: 'Spouse\'s Given Name'
    },
    {
      property: 'spouseFamilyName',
      display: 'Spouse\'s Family Name'
    },
    {
      property: 'marriageDate',
      display: 'Marriage Date',
    },
    {
      property: 'marriagePlace',
      display: 'Marriage Place',
    }
  ];
%>
<%- 
  include('_header_small');
%>

<div id="main" class="container">

  <h1>Search</h1>
  
  <div class="row" id="search-form">
    <% for(var i = 0; i < fields.length; i++){ %>
      <div class="col-md-6 form-group">
        <label for="data_<%- fields[i].property %>"><%- fields[i].display %></label>
        <input type="text" class="form-control" id="data_<%- fields[i].property %>">
      </div>
    <% } %>
  </div>
  
  <div id="sites-list"></div>

</div>

<script id="sites-template" type="text/x-handlebars-template">
  <div class="site row">
    <div class="site-name col-md-12">{{name}}</div>
    <div class="col-md-12">
      <div class="row">
        <div class="site-description col-md-10"><p class="text-muted">{{description.en}}</p></div>
        <div class="site-search-col col-md-2"><button class="site-search-btn btn btn-lg btn-rs">Search</div>
      </div>
    </div>
  </div>
</script>

<script>
  var personData = <%- JSON.stringify(data) %>;
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
<%- include('_footer'); %>